body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #afd147;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
h3 a a:visited{
    color: #000000;
    text-decoration:none;
}
h3 a:hover a:link{
    color: white;
}
p {
    font-size: 16px;
    margin-bottom: 10px;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
blockquote p {
    display: inline;
}
table {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.fill img{
    max-width: 100%;
    height: auto;
}
table{
    width: 100%;
    table-layout: fixed;
}
code {
    display: inline-block;
    padding: 0.1em 0.25em; /* 文字周りの余白 */
    color: #ffffff; /* 文字色 */
    background-color:#25292f; /* 背景色 */
}
pre {
    margin: 1em 0;
    padding: 1em;
    border-radius: 5px;
    background: #25292f;
    overflow-x: auto; /* ⭐ */
    -webkit-overflow-scrolling: touch; /* ⭐ */
}  
.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
    width: 60%;
}
.box1 p {
    margin: 0; 
    padding: 0;
}

.header_boxed {
    display: flex;
    height:fit-content;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -240px;
    margin-right: -240px;
    margin-top: -40px;
    background-color: #e94709;
    border: #000000 solid 5px;
}
.header_boxed a,a:hover ,a:link{
    color: #ffffff;
}
.header_boxed h1{
    margin-right: 20px;
    font-size: 36px;
    color: #ffffff;
    white-space: nowrap;
}
.header_boxed nav{
    width: 100%;
    display: flex;
}
.header_boxed ul {
    list-style:none;
    display: flex;
    width:100%;
    align-items: stretch;
}
.header_boxed ul li {
    border: solid 3px #000000;
    flex: 1;
    display: flex;
    padding-top:10px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom:10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}