<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="styleSheet" href="./../../../style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./../../../main.js"></script>
    <script type="text/javascript"
        asyncsrc="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=MML_SVG"></script>
</head>

<body>
    <div id="header"></div>
    <div id="breadcrumb"></div>

    <table class="noBorder">
        <tr>
            <td>作成日</td>
            <td></td>
        </tr>
        <tr>
            <td>最終更新日</td>
            <td></td>
        </tr>
    </table>

    <div>
        <h1>
        </h1>

        <div>
            <h2>
                背景
            </h2>

            <div>
                <p>

                </p>
            </div>
        </div>

        <div>
            <h2>
                内容
            </h2>

            <div>
                <p>

                </p>
            </div>
        </div>

        <div>
            <ol>
                <li>
                    <a href="#con">
                        まとめ
                    </a>
                </li>
                <li>
                    <a href="#ref">
                        参考
                    </a>
                </li>
            </ol>
        </div>


        <div>
            <h2 id="con">
                まとめ
            </h2>

            <div>
                <p>

                </p>
            </div>
        </div>

        <!-- 参考リスト -->
        <a href="#ref">[]</a>
        <div>
            <h2 id="ref">
                参考
            </h2>
            
            <ol>
                <li>『』 ページ名 ()
                    <br><a href="">

                    </a>
                </li>
                <!-- <li>『』 ページ名 ()
            <br><a href="">

            </a>
        </li> -->
            </ol>
        </div>

    </div>

    <!-- 同じジャンルの記事リスト -->
    <div id="relatedList"></div>
    </div>

    <script>
        $(document).ready(function () {
            var dir = "./../../../"
            articleHeaderFooter(
                dir,
                "",
            );
        });
    </script>
</body>

</html>