<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="styleSheet" href="./../../../style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./../../../main.js"></script>
</head>
<!--
 &lt <
    <ol>
        <li></li>
    </ol>
 -->

<body>
    <div id="header"></div>
    <table class="noBorder">
        <tr>
            <td>作成日</td>
            <td></td>
        </tr>
        <tr>
            <td>最終更新日</td>
            <td></td>
        </tr>
    </table>
    <h1>
    </h1>
    
    <a href="#ref">[]</a>

    <h2 id="ref">
        参考
    </h2>
    <ol>
        <li>『』 ページ名 ()
            <br><a href="">

            </a>
        </li>
    </ol>
    <script>
        $(document).ready(function () {
            var dir = "../../../"
            writeHeader(dir);
        });
    </script>
</body>

</html>
